{% extends 'base.html' %}

<body>
  
{% block content %}
<div class="container">
    
    <div class="mb-3">
      <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
    </div>
    
      <form  method="POST" action="{{url_for('addpoem')}}" enctype="multipart/form-data">
        <div class="mb-3">
        <input class="form-control" placeholder="enter title" name="title" type="text">
        </div>
        <div class="mb-3">
        <textarea class="form-control" placeholder="enter poem content"name="content" type="text">
        </textarea>
            <div class="mb-3">
            <input class="form-control" placeholder="enter title" name="post_img" type="file">
        </div>
        </div>
        <input type="submit" class="btn btn-primary" value="add">
      </form>
  
  </div>
{% endblock content %}

</body>