<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Comon</title>
</head>
<body>
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<!--   custom css -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script defer src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script> 
  <script defer src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
  
  
  
  <style>
    
    .author{
      color: $yellow-300;
    }
  </style>
  
  
</head>
<body>
  <nav class="nav justify-content-end">
  <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
  <a class="nav-link" href="{{ url_for('addpoem')}}">add poem</a>
  <a class="nav-link" href="{{url_for('login')}}">Login</a>
  <a class="nav-link" href="{{url_for('register')}}">Register</a>
  <a class="nav-link disabled">Disabled</a>
</nav>
<div>
{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for categoriy, message in messages %}
    
    {% if categoriy == 'error' %}
    <div class="alert alert-danger alert-dismissable fade show " role="alert">
      <p>{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="close" >
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissable fade show " role="alert">
      <p>{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="close" >
        <span aria-hidden="true">x</span>
      </button>
    </div>
    {% endif %}
    
    {% endfor %}
  {% endif %}
{% endwith %}

</div>

  {% block content%}
  
  {% endblock content%}
  
  
</body>
</html>