{% extends 'base.html' %}


<body >
{% block content %}
  <h4>hello, welcome the the poem store</h4>
    {% for poem in poems %}
  <div class=" container mb-3">
 <div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">{{ poem.title }}</h5>
    <p class="card-text">{{ poem.content[:20] }}....</p>
    <p class="author" >by {{ poem.author }}</p>
    <p class="date" > on {{ poem.date_posted }}</p>
    <a href="{{ url_for('poem', poem_id=poem.id)}}" class="btn btn-primary">read</a>
</div>
</div>
</div>
  {% endfor %}
{% endblock content %}
</body>

</html>